aiohttp==3.8.1
aiosignal==1.2.0
amqp==5.1.1
anyio==3.6.1
asgiref==3.5.2
async-lru==1.0.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
billiard==3.6.4.0
black==22.3.0
celery==5.2.7
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coverage==6.4.1
cytoolz==0.11.2
Deprecated==1.2.13
eth-abi==3.0.0
eth-hash==0.3.2
eth-typing==3.0.0
eth-utils==2.0.0
fastapi==0.78.0
flake8==4.0.1
flake8-docstrings==1.6.0
frozenlist==1.3.0
h11==0.13.0
idna==3.3
iniconfig==1.1.1
kombu==5.2.4
mccabe==0.6.1
mock==4.0.3
motor==3.0.0
multidict==6.0.2
mypy==0.961
mypy-extensions==0.4.3
packaging==21.3
parsimonious==0.8.1
pathmatch==0.2.2
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.29
py==1.11.0
pycodestyle==2.8.0
pycryptodome==3.14.1
pydantic==1.9.1
pydocstyle==6.1.1
pyflakes==2.4.0
pymongo==4.1.1
pyparsing==3.0.9
pytest==7.1.2
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pytest-mock==3.7.0
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
redis==4.3.3
requests==2.27.1
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
starlette==0.19.1
tomli==2.0.1
toolz==0.11.2
types-PyYAML==6.0.8
typing==3.7.4.3
typing-extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
vine==5.0.0
wcwidth==0.2.5
websockets==10.3
wrapt==1.14.1
yarl==1.7.2
